<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.shiloh.mapper.mysql.ColumnMapper">

  <resultMap id="columnResultMap" type="org.shiloh.entity.Column">
    <result column="tableSchema" property="tableScheme"/>
    <result column="tableName" property="tableName"/>
    <result column="columnName" property="columnName"/>
    <result column="columnType" property="columnType" jdbcType="LONGVARCHAR" javaType="String"/>
    <result column="isNullable" property="isNullable"/>
    <result column="columnDefault" property="columnDefault" jdbcType="LONGVARCHAR" javaType="String"/>
    <result column="columnKey" property="columnKey"/>
    <result column="extra" property="extra"/>
    <result column="columnComment" property="columnComment"/>
  </resultMap>

  <select id="findAllColumnsMetadataByTableSchemaAndTableName"
          resultMap="columnResultMap"
          parameterType="String">
    select TABLE_SCHEMA as tableSchema,
           TABLE_NAME as tableName,
           COLUMN_NAME as columnName,
           COLUMN_TYPE as columnType,
           IS_NULLABLE as isNullable,
           COLUMN_DEFAULT as columnDefault,
           COLUMN_KEY as columnKey,
           EXTRA as extra,
           COLUMN_COMMENT as columnComment
    from COLUMNS
    where TABLE_SCHEMA = #{tableSchema}
      and TABLE_NAME = #{tableName}
  </select>

</mapper>

